.main-header {
  width: 100%;
  display: flex;
  flex-direction: column; }

.main-header__logo {
  display: block;
  order: 2;
  min-height: 650px;
  border: green solid 3px; }

.navigation {
  order: 1;
  border: black solid 3px;
  min-height: 72px; }

.navigation__wrapper {
  display: flex;
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  border: orange solid 3px;
  justify-content: space-between; }

.navigation__site {
  margin: 0;
  padding: 0;
  list-style: none;
  width: 780px;
  border: rosybrown solid 2px; }

.navigation__login {
  margin: 0;
  padding: 0;
  list-style: none;
  width: 160px;
  border: #19dae7 solid 2px; }

@media only screen and (max-width: 1024px) {
  .main-header__logo {
    min-height: 400px; }
  .navigation__wrapper {
    max-width: 640px; }
  .navigation__site {
    margin: 0;
    padding: 0;
    list-style: none;
    width: 570px;
    border: rosybrown solid 2px; }
  .navigation__login {
    margin: 0;
    padding: 0;
    list-style: none;
    width: 60px;
    border: #19dae7 solid 2px; } }

@media only screen and (max-width: 768px) {
  .main-header__logo {
    order: 1;
    min-height: 85px; }
  .navigation {
    order: 2;
    min-height: 50px;
    max-width: 320px;
    width: 100%;
    margin: 0 auto;
    padding: 0 20px; }
  .navigation__wrapper {
    margin: 0;
    display: block; }
  .navigation__site {
    margin: 0;
    padding: 0;
    list-style: none;
    width: auto;
    border: rosybrown solid 2px; }
  .navigation__login {
    margin: 0;
    padding: 0;
    list-style: none;
    width: auto;
    border: #19dae7 solid 2px; } }
