.stat {
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  display: flex;
  margin-top: -160px; }

.stat__message {
  width: 320px;
  background: #ffffff;
  padding: 35px 0 0 40px; }

.stat__header {
  margin: 0;
  padding-right: 22px;
  font-family: sans-serif;
  font-family: "PT_Sans-Narrow-Bold";
  font-size: 40px;
  color: #000000;
  line-height: 40px; }

.stat__text {
  padding-right: 65px;
  font-family: sans-serif;
  font-family: "PT_Sans-Regular";
  font-size: 20px;
  color: #000000;
  line-height: 27px;
  margin: 44px 0 0 0; }

.stat__text_opacity {
  opacity: 0.3; }

.stat__table {
  width: 640px; }

.stat__table td {
  width: 320px;
  padding: 35px;
  font-family: sans-serif;
  font-family: "PT_Sans-Narrow-Bold";
  font-size: 72px;
  color: #ffffff;
  line-height: 18px; }

.stat__table span {
  font-family: sans-serif;
  font-family: "PT_Sans-Narrow-Regular";
  font-size: 20px;
  color: #ffffff; }

.stat__table,
tr,
td {
  border-collapse: collapse; }

@media only screen and (max-width: 1024px) {
  .stat {
    width: 100%;
    max-width: 640px;
    margin: 0 auto;
    min-height: 500px;
    margin-top: -186px;
    flex-wrap: wrap; }
  .stat__message {
    width: 100%;
    min-height: 185px; }
  .stat__table {
    width: 100%;
    min-height: 320px; } }

@media only screen and (max-width: 768px) {
  .stat {
    width: 100%;
    max-width: 320px;
    margin: 0 auto;
    margin-top: 0; }
  .stat__table td {
    width: 100%;
    min-height: 80px;
    display: block; } }
